In [43]:
import pandas
import numpy as np

frame_data = {
    "a": ["222", "111", "333", "222", "111", "222"],
    "b": [1.0, 2.0, 3.0, 4.0, 5.0, 6.0],
    "c": [5.5, 4.4, 3.3, 2.2, 1.1, 0.1],
}
df = pandas.DataFrame(frame_data)

df

     a    b    c
0  222  1.0  5.5
1  111  2.0  4.4
2  333  3.0  3.3
3  222  4.0  2.2
4  111  5.0  1.1
5  222  6.0  0.1

In [23]:
df["a"].iloc[-1]

2

In [44]:
gb = df.groupby("a")
df.sort_values("a")

     a    b    c
1  111  2.0  4.4
4  111  5.0  1.1
0  222  1.0  5.5
3  222  4.0  2.2
5  222  6.0  0.1
2  333  3.0  3.3

In [25]:
def applier(gbdf):
    if len(gbdf) > 1:
        return gbdf.iloc[-1]
    else:
        return None
        #return df.iloc[:0]

res = gb.agg(applier).dropna(axis=0)
res

     b    c
a
1  5.0  1.1
2  6.0  0.1

In [26]:
res.reset_index(drop=False).reset_index(drop=False)

   index  a    b    c
0      0  1  5.0  1.1
1      1  2  6.0  0.1

In [27]:
gb.filter(lambda x: len(x) > 1)

   a    b    c
0  2  1.0  5.5
1  1  2.0  4.4
3  2  4.0  2.2
4  1  5.0  1.1
5  2  6.0  0.1

In [28]:
gb1 = df["a"].groupby(df["a"])
#df[gb1.transform('size') > 1]
gb1.transform('size')

0    3
1    2
2    1
3    3
4    2
5    3
Name: a, dtype: int64

In [29]:
df1 = pandas.DataFrame()
count = 0
for name, group in gb:
    print(name)
    if len(group) > 1:
        df1 = df1.append({"label": count, "a": name, "b": group["b"].iloc[-1], "c": group["c"].iloc[-1]}, ignore_index=True)
    else:
        print("len = ", len(group))
    count += 1
df1

1
2
3
len =  1

     a    b    c  label
0  1.0  5.0  1.1    0.0
1  2.0  6.0  0.1    1.0

In [46]:
gb.agg(b1=("b", "last"), b2=("b", list)).reset_index()

     a   b1               b2
0  111  5.0       [2.0, 5.0]
1  222  6.0  [1.0, 4.0, 6.0]
2  333  3.0            [3.0]

In [55]:
df["a"][:-7]

Series([], Name: a, dtype: object)