In [21]:
import pandas
import numpy as np
index_tuples = [
    ("bar", "one"),
    ("bar", "two"),
    ("bar", "three"),
    ("bar", "four"),
    ("baz", "one"),
    ("baz", "two"),
    ("baz", "three"),
    ("baz", "four"),
    ("foo", "one"),
    ("foo", "two"),
    ("foo", "three"),
    ("foo", "four"),
    ("qux", "one"),
    ("qux", "two"),
    ("qux", "three"),
    ("qux", "four"),
]

column_tuples = [
    (1.1, 1),
    (1.1, 2),
    (1.1, 3),
    (1.1, 4),
    (2.2, 1),
    (2.2, 2),
    (2.2, 3),
    (2.2, 4),
    (3.3, 1),
    (3.3, 2),
    (3.3, 3),
    (3.3, 4),
    (4.4, 1),
    (4.4, 2),
    (4.4, 3),
    (4.4, 4)
]

pandas_index = pandas.MultiIndex.from_tuples(index_tuples, names=["first", "second"])
pandas_columns = pandas.MultiIndex.from_tuples(column_tuples, names=["1st", "2nd"])
frame_data = np.random.randint(0, 100, size=(16, 16))
pandas_df = pandas.DataFrame(
    frame_data,
    index=pandas_index,
    columns=["col{}".format(i) for i in range(16)],
)
pandas_df.columns = pandas_columns

In [40]:
pandas_df.sort_index().loc[("bar", "two") : ("foo", "three"), (1.1, 2) : (3.3, 3)]

1st          1.1         2.2             3.3
2nd            2   3   4   1   2   3   4   1   2   3
first second
bar   two     32  61  21  31  11   1  29  49  67  61
baz   four    14  83  95  61  59   3  71  45  87   5
      one     15  89  18  85  23  27  78  64  73  43
      three   66  33  42  80  35  21  68  20  20  48
      two     86  55  72  81  71   2  40  31  45  40
foo   four    96  86  86  97  47  35  80  95  17  40
      one     10  81  21  87   9  74  66  34  59  46
      three   33  40  90  76  88  69  73  11  95  58

In [67]:
pandas_df.sort_index().loc[(slice("qux", "bar", -2), slice("one")), (slice(3.3, 1.1, -2), slice(2, 4, 3))]

1st          3.3
2nd            2
first second
qux   four     6
      one     27

In [75]:
pandas_df.sort_index().loc[(slice("qux", "bar", -2), slice("one")), (slice(None), slice(2, 4, 1))]

1st          1.1         2.2         3.3         4.4
2nd            2   3   4   2   3   4   2   3   4   2   3   4
first second
qux   four    82  45  50  97  47  54   6  42  20  92   0  76
      one     76  15  56  62  57  83  27  79  18   9  73  35

In [74]:
x = np.arange(0, 10)
x[slice(4, 2, -1)]

array([4, 3])