In [1]:
import pandas
import numpy as np
index_tuples = [
    ("bar", "one"),
    ("bar", "two"),
    ("bar", "three"),
    ("bar", "four"),
    ("baz", "one"),
    ("baz", "two"),
    ("baz", "three"),
    ("baz", "four"),
    ("foo", "one"),
    ("foo", "two"),
    ("foo", "three"),
    ("foo", "four"),
    ("qux", "one"),
    ("qux", "two"),
    ("qux", "three"),
    ("qux", "four"),
]

column_tuples = [
    (1.1, 1),
    (1.1, 2),
    (1.1, 3),
    (1.1, 4),
    (2.2, 1),
    (2.2, 2),
    (2.2, 3),
    (2.2, 4),
    (3.3, 1),
    (3.3, 2),
    (3.3, 3),
    (3.3, 4),
    (4.4, 1),
    (4.4, 2),
    (4.4, 3),
    (4.4, 4)
]

pandas_index = pandas.MultiIndex.from_tuples(index_tuples, names=["first", "second"])
pandas_columns = pandas.MultiIndex.from_tuples(column_tuples, names=["1st", "2nd"])
frame_data = np.random.randint(0, 100, size=(16, 16))
pandas_df = pandas.DataFrame(
    frame_data,
    index=pandas_index,
    columns=["col{}".format(i) for i in range(16)],
)
pandas_df.columns = pandas_columns
pandas_df

1st          1.1             2.2             3.3             4.4
2nd            1   2   3   4   1   2   3   4   1   2   3   4   1   2   3   4
first second
bar   one     81  62  53  47  17  60  77  80  39  66  17   4  25  57  92  87
      two     89  19  27  26  61  98   2  65  78  56  34  90  14  91  32  19
      three   81   6  70  56  77   8  67  96  68  40   5  84  44  81  85  10
      four    16  27  47  35  65  60  36  78  61   0  54   3  87  80  26  40
baz   one     19  32  78  80  60  69  45  63  31  97  75   1  64  71  19  61
      two     74  20  60  11  95  13  84  29  95   9  34  29  92   7  66  67
      three   46  55  71  67  62  22  28  59   4  65   0  85  42  20  15  84
      four    76  59  39  78  16   0   2  39  48  46  56  80  86  10  13  91
foo   one     91  60   1  22  37  22  72  31  62  29  89  31  82  16   1  63
      two     50  36  57  65  68  63  86  10  96  22  30  26  36  93  94  72
      three   47  85  90  67  78   3  15  57  28  58  47   0  22  30  59  20
      four    95  98  45  63   4  19  67   8  70  37  34  63  14  58  72   0
qux   one     55   6  34  65  65  67  19  70  45  12   0  83  36  88  93  39
      two     56  11  33  33  82  72  87  47  89  86  57  87  39  55  43  17
      three   53  93   5  32  22  86  99  57  47   9  88  34  32  64  85  61
      four    77  76  81  76  70   4   4  50   6  35  67   6  18  57  96  71

In [2]:
pandas_df.sort_index().loc[("bar", "two") : ("foo", "three"), (1.1, 2) : (3.3, 3)]

1st          1.1         2.2             3.3
2nd            2   3   4   1   2   3   4   1   2   3
first second
bar   two     19  27  26  61  98   2  65  78  56  34
baz   four    59  39  78  16   0   2  39  48  46  56
      one     32  78  80  60  69  45  63  31  97  75
      three   55  71  67  62  22  28  59   4  65   0
      two     20  60  11  95  13  84  29  95   9  34
foo   four    98  45  63   4  19  67   8  70  37  34
      one     60   1  22  37  22  72  31  62  29  89
      three   85  90  67  78   3  15  57  28  58  47

In [3]:
pandas_df.sort_index().loc[(slice("qux", "bar", -2), slice("one")), (slice(3.3, 1.1, -2), slice(2, 4, 3))]

TypeError: slice indices must be integers or None or have an __index__ method

In [ ]:
pandas_df.sort_index().loc[(slice("qux", "bar", -2), slice("one")), (slice(None), slice(2, 4, 1))]

In [9]:
pandas_df.loc[["bar", "foo"]]

1st          1.1             2.2             3.3             4.4
2nd            1   2   3   4   1   2   3   4   1   2   3   4   1   2   3   4
first second
bar   one     81  62  53  47  17  60  77  80  39  66  17   4  25  57  92  87
      two     89  19  27  26  61  98   2  65  78  56  34  90  14  91  32  19
      three   81   6  70  56  77   8  67  96  68  40   5  84  44  81  85  10
      four    16  27  47  35  65  60  36  78  61   0  54   3  87  80  26  40
foo   one     91  60   1  22  37  22  72  31  62  29  89  31  82  16   1  63
      two     50  36  57  65  68  63  86  10  96  22  30  26  36  93  94  72
      three   47  85  90  67  78   3  15  57  28  58  47   0  22  30  59  20
      four    95  98  45  63   4  19  67   8  70  37  34  63  14  58  72   0

In [7]:
d = {'col1': [1, 2], 'col2': [3, 4], 'col3': [5,6]}
df = pandas.DataFrame(d)
df = df.set_index(['col1', 'col2'])
df

           col3
col1 col2
1    3        5
2    4        6

In [8]:
df.loc[[1,2]]

           col3
col1 col2
1    3        5
2    4        6