In [5]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(10).reshape(-1, 2), columns=['A', 'B'])
df.where(df % 3 == 0)

     A    B
0  0.0  NaN
1  NaN  3.0
2  NaN  NaN
3  6.0  NaN
4  NaN  9.0

In [4]:
df2 = pd.DataFrame({"A": [11, 12, 13, 14], "C": [111, 222, 333, 444]})
df.where(df % 3 == 0, df2)

      A    B
0   0.0  NaN
1  12.0  3.0
2  13.0  NaN
3   6.0  NaN
4   NaN  9.0