In [2]:
import os.path

import modin.pandas as pd

columns_names = [
    "YEAR0",
    "DATANUM",
    "SERIAL",
    "CBSERIAL",
    "HHWT",
    "CPI99",
    "GQ",
    "QGQ",
    "PERNUM",
    "PERWT",
    "SEX",
    "AGE",
    "EDUC",
    "EDUCD",
    "INCTOT",
    "SEX_HEAD",
    "SEX_MOM",
    "SEX_POP",
    "SEX_SP",
    "SEX_MOM2",
    "SEX_POP2",
    "AGE_HEAD",
    "AGE_MOM",
    "AGE_POP",
    "AGE_SP",
    "AGE_MOM2",
    "AGE_POP2",
    "EDUC_HEAD",
    "EDUC_MOM",
    "EDUC_POP",
    "EDUC_SP",
    "EDUC_MOM2",
    "EDUC_POP2",
    "EDUCD_HEAD",
    "EDUCD_MOM",
    "EDUCD_POP",
    "EDUCD_SP",
    "EDUCD_MOM2",
    "EDUCD_POP2",
    "INCTOT_HEAD",
    "INCTOT_MOM",
    "INCTOT_POP",
    "INCTOT_SP",
    "INCTOT_MOM2",
    "INCTOT_POP2",
]
columns_types = [
    "int64",
    "int64",
    "int64",
    "float64",
    "int64",
    "float64",
    "int64",
    "float64",
    "int64",
    "int64",
    "int64",
    "int64",
    "int64",
    "int64",
    "int64",
    "float64",
    "float64",
    "float64",
    "float64",
    "float64",
    "float64",
    "float64",
    "float64",
    "float64",
    "float64",
    "float64",
    "float64",
    "float64",
    "float64",
    "float64",
    "float64",
    "float64",
    "float64",
    "float64",
    "float64",
    "float64",
    "float64",
    "float64",
    "float64",
    "float64",
    "float64",
    "float64",
    "float64",
    "float64",
    "float64",
]

dtypes = {columns_names[i]: columns_types[i] for i in range(len(columns_names))}

path = "/localdisk/gregory/benchmark-datasets"
df = pd.read_csv(os.path.join(path, "census", "ipums_education2income_1970-2010.csv"),
                header=1,
                dtype=dtypes,
                names=columns_names)
df

UserWarning: Ray execution environment not yet initialized. Initializing...
To remove this warning, run the following python code before doing dataframe operations:

    import ray
    ray.init()

,YEAR0,DATANUM,SERIAL,CBSERIAL,HHWT,CPI99,GQ,QGQ,PERNUM,PERWT,...,EDUCD_POP,EDUCD_SP,EDUCD_MOM2,EDUCD_POP2,INCTOT_HEAD,INCTOT_MOM,INCTOT_POP,INCTOT_SP,INCTOT_MOM2,INCTOT_POP2
0,1970,2,1,NaN,100,4.540,1,0.0,2,100,...,NaN,60.0,NaN,NaN,12450.0,NaN,NaN,12450.0,NaN,NaN
1,1970,2,2,NaN,100,4.540,1,0.0,1,100,...,NaN,60.0,NaN,NaN,9050.0,NaN,NaN,0.0,NaN,NaN
2,1970,2,2,NaN,100,4.540,1,0.0,2,100,...,NaN,70.0,NaN,NaN,9050.0,NaN,NaN,9050.0,NaN,NaN
3,1970,2,4,NaN,100,4.540,1,0.0,1,100,...,NaN,23.0,NaN,NaN,7450.0,NaN,NaN,650.0,NaN,NaN
4,1970,2,4,NaN,100,4.540,1,0.0,2,100,...,NaN,17.0,NaN,NaN,7450.0,NaN,NaN,7450.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21721916,2010,1,1397788,1414099.0,57,0.764,1,NaN,2,68,...,NaN,101.0,NaN,NaN,55000.0,NaN,NaN,55000.0,NaN,NaN
21721917,2010,1,1397788,1414099.0,57,0.764,1,NaN,3,84,...,101.0,NaN,NaN,NaN,55000.0,0.0,55000.0,NaN,NaN,NaN
21721918,2010,1,1397788,1414099.0,57,0.764,1,NaN,4,65,...,101.0,NaN,NaN,NaN,55000.0,0.0,55000.0,NaN,NaN,NaN
21721919,2010,1,1397789,1414268.0,101,0.764,1,NaN,1,101,...,NaN,63.0,NaN,NaN,9000.0,NaN,NaN,90000.0,NaN,NaN
21721920,2010,1,1397789,1414268.0,101,0.764,1,NaN,2,109,...,NaN,63.0,NaN,NaN,9000.0,NaN,NaN,9000.0,NaN,NaN

In [3]:
df.dtypes

YEAR0            int64
DATANUM          int64
SERIAL           int64
CBSERIAL       float64
HHWT             int64
CPI99          float64
GQ               int64
QGQ            float64
PERNUM           int64
PERWT            int64
SEX              int64
AGE              int64
EDUC             int64
EDUCD            int64
INCTOT           int64
SEX_HEAD       float64
SEX_MOM        float64
SEX_POP        float64
SEX_SP         float64
SEX_MOM2       float64
SEX_POP2       float64
AGE_HEAD       float64
AGE_MOM        float64
AGE_POP        float64
AGE_SP         float64
AGE_MOM2       float64
AGE_POP2       float64
EDUC_HEAD      float64
EDUC_MOM       float64
EDUC_POP       float64
EDUC_SP        float64
EDUC_MOM2      float64
EDUC_POP2      float64
EDUCD_HEAD     float64
EDUCD_MOM      float64
EDUCD_POP      float64
EDUCD_SP       float64
EDUCD_MOM2     float64
EDUCD_POP2     float64
INCTOT_HEAD    float64
INCTOT_MOM     float64
INCTOT_POP     float64
INCTOT_SP      float64
INCTOT_MOM2    float64
INCTOT_POP2    float64
Name: 0, dtype: object

In [4]:
df.min()

YEAR0           1970.000
DATANUM            1.000
SERIAL             1.000
CBSERIAL           2.000
HHWT               1.000
CPI99              0.764
GQ                 0.000
QGQ                0.000
PERNUM             1.000
PERWT              1.000
SEX                1.000
AGE                0.000
EDUC               0.000
EDUCD              0.000
INCTOT        -20000.000
SEX_HEAD           1.000
SEX_MOM            2.000
SEX_POP            1.000
SEX_SP             1.000
SEX_MOM2           2.000
SEX_POP2           1.000
AGE_HEAD          14.000
AGE_MOM            0.000
AGE_POP            0.000
AGE_SP             0.000
AGE_MOM2           6.000
AGE_POP2           1.000
EDUC_HEAD          0.000
EDUC_MOM           0.000
EDUC_POP           0.000
EDUC_SP            0.000
EDUC_MOM2          0.000
EDUC_POP2          0.000
EDUCD_HEAD         2.000
EDUCD_MOM          0.000
EDUCD_POP          0.000
EDUCD_SP           1.000
EDUCD_MOM2         2.000
EDUCD_POP2         1.000
INCTOT_HEAD   -20000.000
INCTOT_MOM    -19998.000
INCTOT_POP    -20000.000
INCTOT_SP     -20000.000
INCTOT_MOM2      -16.000
INCTOT_POP2   -10000.000
dtype: float64

In [5]:
df.max()

YEAR0             2010.00
DATANUM              4.00
SERIAL         4711341.00
CBSERIAL       1414542.00
HHWT              1385.00
CPI99                4.54
GQ                   5.00
QGQ                  5.00
PERNUM              32.00
PERWT             1385.00
SEX                  2.00
AGE                100.00
EDUC                11.00
EDUCD              116.00
INCTOT         9999999.00
SEX_HEAD             2.00
SEX_MOM              2.00
SEX_POP              1.00
SEX_SP               2.00
SEX_MOM2             2.00
SEX_POP2             1.00
AGE_HEAD           100.00
AGE_MOM            100.00
AGE_POP            100.00
AGE_SP             100.00
AGE_MOM2            94.00
AGE_POP2            90.00
EDUC_HEAD           11.00
EDUC_MOM            11.00
EDUC_POP            11.00
EDUC_SP             11.00
EDUC_MOM2           11.00
EDUC_POP2           11.00
EDUCD_HEAD         116.00
EDUCD_MOM          116.00
EDUCD_POP          116.00
EDUCD_SP           116.00
EDUCD_MOM2         116.00
EDUCD_POP2         116.00
INCTOT_HEAD    9999999.00
INCTOT_MOM     9999999.00
INCTOT_POP     9999999.00
INCTOT_SP      9999999.00
INCTOT_MOM2    9999999.00
INCTOT_POP2    9999999.00
dtype: float64