In [1]:
import os.path

import modin.pandas as pd

columns_names = [
    "trip_id",
    "vendor_id",
    "pickup_datetime",
    "dropoff_datetime",
    "store_and_fwd_flag",
    "rate_code_id",
    "pickup_longitude",
    "pickup_latitude",
    "dropoff_longitude",
    "dropoff_latitude",
    "passenger_count",
    "trip_distance",
    "fare_amount",
    "extra",
    "mta_tax",
    "tip_amount",
    "tolls_amount",
    "ehail_fee",
    "improvement_surcharge",
    "total_amount",
    "payment_type",
    "trip_type",
    "pickup",
    "dropoff",
    "cab_type",
    "precipitation",
    "snow_depth",
    "snowfall",
    "max_temperature",
    "min_temperature",
    "average_wind_speed",
    "pickup_nyct2010_gid",
    "pickup_ctlabel",
    "pickup_borocode",
    "pickup_boroname",
    "pickup_ct2010",
    "pickup_boroct2010",
    "pickup_cdeligibil",
    "pickup_ntacode",
    "pickup_ntaname",
    "pickup_puma",
    "dropoff_nyct2010_gid",
    "dropoff_ctlabel",
    "dropoff_borocode",
    "dropoff_boroname",
    "dropoff_ct2010",
    "dropoff_boroct2010",
    "dropoff_cdeligibil",
    "dropoff_ntacode",
    "dropoff_ntaname",
    "dropoff_puma",
]

path = "/localdisk/benchmark_datasets"
df = pd.read_csv(os.path.join(path, "taxi", "trips_xaa.csv"),
                 names=columns_names,
                 parse_dates=["pickup_datetime", "dropoff_datetime"])
df

UserWarning: Ray execution environment not yet initialized. Initializing...
To remove this warning, run the following python code before doing dataframe operations:

    import ray
    ray.init()

UserWarning: Not all Ray Dashboard dependencies were found. To use the dashboard please install Ray using `pip install ray[default]`. To disable this message, set RAY_DISABLE_IMPORT_WARNING env var to '1'.
UserWarning: `read_*` implementation has mismatches with pandas:
Data types of partitions are different! Please refer to the troubleshooting section of the Modin documentation to fix this issue.

,trip_id,vendor_id,pickup_datetime,dropoff_datetime,store_and_fwd_flag,rate_code_id,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,...,dropoff_nyct2010_gid,dropoff_ctlabel,dropoff_borocode,dropoff_boroname,dropoff_ct2010,dropoff_boroct2010,dropoff_cdeligibil,dropoff_ntacode,dropoff_ntaname,dropoff_puma
0,1,2,2013-08-01 08:14:37,2013-08-01 09:09:06,N,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2,2013-08-01 09:13:00,2013-08-01 11:38:00,N,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,2,2013-08-01 09:48:00,2013-08-01 09:49:00,N,5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,2,2013-08-01 10:38:35,2013-08-01 10:38:51,N,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,2013-08-01 11:51:45,2013-08-01 12:03:52,N,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999995,19999981,2,2015-02-27 23:10:11,2015-02-27 23:14:10,N,1,-73.978447,40.662716,-73.981812,40.670444,...,93.0,155.0,3.0,Brooklyn,15500.0,3015500.0,I,BK37,Park Slope-Gowanus,4005.0
19999996,19999982,2,2015-02-04 08:59:16,2015-02-04 09:40:31,N,1,-73.978111,40.663132,-74.008904,40.702579,...,1792.0,9.0,1.0,Manhattan,900.0,1000900.0,I,MN25,Battery Park City-Lower Manhattan,3810.0
19999997,19999983,2,2015-02-07 11:40:32,2015-02-07 11:53:40,N,1,-73.981270,40.663254,-74.001373,40.687614,...,2024.0,47.0,3.0,Brooklyn,4700.0,3004700.0,I,BK33,Carroll Gardens-Columbia Street-Red Hook,4005.0
19999998,19999984,2,2015-02-22 13:21:24,2015-02-22 13:24:23,N,1,-73.982063,40.662254,-73.973991,40.672096,...,94.0,157.0,3.0,Brooklyn,15700.0,3015700.0,I,BK37,Park Slope-Gowanus,4005.0
19999999,19999985,2,2015-02-24 22:35:39,2015-02-24 22:52:52,N,1,-73.982063,40.662327,-73.936066,40.687969,...,1830.0,277.0,3.0,Brooklyn,27700.0,3027700.0,E,BK35,Stuyvesant Heights,4003.0

In [2]:
df.min()

trip_id                  1.000000e+00
vendor_id                1.000000e+00
rate_code_id             1.000000e+00
pickup_longitude        -1.219267e+02
pickup_latitude         -4.075827e+01
dropoff_longitude       -1.219277e+02
dropoff_latitude         2.568508e+01
passenger_count          0.000000e+00
trip_distance            0.000000e+00
fare_amount             -4.990000e+02
extra                   -1.000000e+00
mta_tax                 -1.500000e+00
tip_amount              -1.000000e+02
tolls_amount            -1.816000e+01
ehail_fee                         NaN
improvement_surcharge    0.000000e+00
total_amount            -4.990000e+02
payment_type             1.000000e+00
trip_type                1.000000e+00
precipitation            0.000000e+00
snow_depth               0.000000e+00
snowfall                 0.000000e+00
max_temperature          1.700000e+01
min_temperature          2.000000e+00
average_wind_speed       6.700000e-01
pickup_nyct2010_gid      1.000000e+00
pickup_ctlabel           1.000000e+00
pickup_borocode          1.000000e+00
pickup_ct2010            1.000000e+02
pickup_boroct2010        1.000201e+06
pickup_puma              3.701000e+03
dropoff_nyct2010_gid     1.000000e+00
dropoff_ctlabel          1.000000e+00
dropoff_borocode         1.000000e+00
dropoff_ct2010           1.000000e+02
dropoff_boroct2010       1.000201e+06
dropoff_puma             3.701000e+03
dtype: float64

In [3]:
df.max()

trip_id                  2.010707e+07
vendor_id                2.000000e+00
rate_code_id             9.900000e+01
pickup_longitude         7.393764e+01
pickup_latitude          4.291825e+01
dropoff_longitude       -8.332000e-03
dropoff_latitude         4.448901e+01
passenger_count          9.000000e+00
trip_distance            8.304000e+02
fare_amount              9.999990e+03
extra                    6.795300e+02
mta_tax                  7.350000e+00
tip_amount               1.766050e+03
tolls_amount             1.600080e+03
ehail_fee                         NaN
improvement_surcharge    3.000000e-01
total_amount             9.899704e+05
payment_type             5.000000e+00
trip_type                2.000000e+00
precipitation            4.970000e+00
snow_depth               1.800000e+01
snowfall                 1.100000e+01
max_temperature          9.600000e+01
min_temperature          7.700000e+01
average_wind_speed       1.454000e+01
pickup_nyct2010_gid      2.167000e+03
pickup_ctlabel           1.621000e+03
pickup_borocode          5.000000e+00
pickup_ct2010            1.621000e+05
pickup_boroct2010        5.032300e+06
pickup_puma              4.114000e+03
dropoff_nyct2010_gid     2.167000e+03
dropoff_ctlabel          1.621000e+03
dropoff_borocode         5.000000e+00
dropoff_ct2010           1.621000e+05
dropoff_boroct2010       5.032300e+06
dropoff_puma             4.114000e+03
dtype: float64