In [1]:
import os.path

import pandas as pd
import numpy as np

columns_names = [
    "trip_id",
    "vendor_id",
    "pickup_datetime",
    "dropoff_datetime",
    "store_and_fwd_flag",
    "rate_code_id",
    "pickup_longitude",
    "pickup_latitude",
    "dropoff_longitude",
    "dropoff_latitude",
    "passenger_count",
    "trip_distance",
    "fare_amount",
    "extra",
    "mta_tax",
    "tip_amount",
    "tolls_amount",
    "ehail_fee",
    "improvement_surcharge",
    "total_amount",
    "payment_type",
    "trip_type",
    "pickup",
    "dropoff",
    "cab_type",
    "precipitation",
    "snow_depth",
    "snowfall",
    "max_temperature",
    "min_temperature",
    "average_wind_speed",
    "pickup_nyct2010_gid",
    "pickup_ctlabel",
    "pickup_borocode",
    "pickup_boroname",
    "pickup_ct2010",
    "pickup_boroct2010",
    "pickup_cdeligibil",
    "pickup_ntacode",
    "pickup_ntaname",
    "pickup_puma",
    "dropoff_nyct2010_gid",
    "dropoff_ctlabel",
    "dropoff_borocode",
    "dropoff_boroname",
    "dropoff_ct2010",
    "dropoff_boroct2010",
    "dropoff_cdeligibil",
    "dropoff_ntacode",
    "dropoff_ntaname",
    "dropoff_puma",
]

path = "/localdisk/benchmark_datasets"
df = pd.read_csv(os.path.join(path, "taxi", "trips_xaa.csv"),
                 names=columns_names,
                 parse_dates=["pickup_datetime", "dropoff_datetime"])
df

,trip_id,vendor_id,pickup_datetime,dropoff_datetime,store_and_fwd_flag,rate_code_id,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,...,dropoff_nyct2010_gid,dropoff_ctlabel,dropoff_borocode,dropoff_boroname,dropoff_ct2010,dropoff_boroct2010,dropoff_cdeligibil,dropoff_ntacode,dropoff_ntaname,dropoff_puma
0,1,2,2013-08-01 08:14:37,2013-08-01 09:09:06,N,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2,2013-08-01 09:13:00,2013-08-01 11:38:00,N,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,2,2013-08-01 09:48:00,2013-08-01 09:49:00,N,5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,2,2013-08-01 10:38:35,2013-08-01 10:38:51,N,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,2013-08-01 11:51:45,2013-08-01 12:03:52,N,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999995,19999981,2,2015-02-27 23:10:11,2015-02-27 23:14:10,N,1,-73.978447,40.662716,-73.981812,40.670444,...,93.0,155.0,3.0,Brooklyn,15500.0,3015500.0,I,BK37,Park Slope-Gowanus,4005.0
19999996,19999982,2,2015-02-04 08:59:16,2015-02-04 09:40:31,N,1,-73.978111,40.663132,-74.008904,40.702579,...,1792.0,9.0,1.0,Manhattan,900.0,1000900.0,I,MN25,Battery Park City-Lower Manhattan,3810.0
19999997,19999983,2,2015-02-07 11:40:32,2015-02-07 11:53:40,N,1,-73.981270,40.663254,-74.001373,40.687614,...,2024.0,47.0,3.0,Brooklyn,4700.0,3004700.0,I,BK33,Carroll Gardens-Columbia Street-Red Hook,4005.0
19999998,19999984,2,2015-02-22 13:21:24,2015-02-22 13:24:23,N,1,-73.982063,40.662254,-73.973991,40.672096,...,94.0,157.0,3.0,Brooklyn,15700.0,3015700.0,I,BK37,Park Slope-Gowanus,4005.0
19999999,19999985,2,2015-02-24 22:35:39,2015-02-24 22:52:52,N,1,-73.982063,40.662327,-73.936066,40.687969,...,1830.0,277.0,3.0,Brooklyn,27700.0,3027700.0,E,BK35,Stuyvesant Heights,4003.0

In [2]:
def print_all(df):
    def print_df(s, name):
        print(name, " = \n", s)
        print(name, "shape = ", s.shape)

    dt = df.dtypes
    print_df(dt, "dtypes")
    mi = df.min()
    print_df(mi, "minimum")
    ma = df.max()
    print_df(ma, "maximum")

    result = pd.DataFrame({"types": dt, "min": mi, "max": ma})
    result = result.reindex(dt.index)
    print_df(result, "result")

    for index, row in result.iterrows():
        print("\"{0}\": (\"{1}\", {2}, {3}),".format(index,
            row[0],
            np.int64(row[1]) if row[0].name == "int64" or row[0].name == "int32" else row[1],
            np.int64(row[2]) if row[0].name == "int64" or row[0].name == "int32" else row[2]))

In [3]:
print_all(df)

dtypes  =
 trip_id                           int64
vendor_id                         int64
pickup_datetime          datetime64[ns]
dropoff_datetime         datetime64[ns]
store_and_fwd_flag               object
rate_code_id                      int64
pickup_longitude                float64
pickup_latitude                 float64
dropoff_longitude               float64
dropoff_latitude                float64
passenger_count                   int64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                      int64
trip_type                       float64
pickup                           object
dropoff                          object
cab_type                         object
precipitation                   float64
snow_depth                        int64
snowfall                        float64
max_temperature                   int64
min_temperature                   int64
average_wind_speed              float64
pickup_nyct2010_gid             float64
pickup_ctlabel                  float64
pickup_borocode                 float64
pickup_boroname                  object
pickup_ct2010                   float64
pickup_boroct2010               float64
pickup_cdeligibil                object
pickup_ntacode                   object
pickup_ntaname                   object
pickup_puma                     float64
dropoff_nyct2010_gid            float64
dropoff_ctlabel                 float64
dropoff_borocode                float64
dropoff_boroname                 object
dropoff_ct2010                  float64
dropoff_boroct2010              float64
dropoff_cdeligibil               object
dropoff_ntacode                  object
dropoff_ntaname                  object
dropoff_puma                    float64
dtype: object
dtypes shape =  (51,)

/tmp/ipykernel_393396/3900437806.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mi = df.min()

minimum  =
 trip_id                                    1
vendor_id                                  1
pickup_datetime          2013-08-01 08:14:37
dropoff_datetime         2013-08-01 09:09:06
store_and_fwd_flag                         N
rate_code_id                               1
pickup_longitude                 -121.926697
pickup_latitude                   -40.758274
dropoff_longitude                -121.927681
dropoff_latitude                   25.685083
passenger_count                            0
trip_distance                            0.0
fare_amount                           -499.0
extra                                   -1.0
mta_tax                                 -1.5
tip_amount                            -100.0
tolls_amount                          -18.16
ehail_fee                                NaN
improvement_surcharge                    0.0
total_amount                          -499.0
payment_type                               1
trip_type                                1.0
cab_type                               green
precipitation                            0.0
snow_depth                                 0
snowfall                                 0.0
max_temperature                           17
min_temperature                            2
average_wind_speed                      0.67
pickup_nyct2010_gid                      1.0
pickup_ctlabel                           1.0
pickup_borocode                          1.0
pickup_ct2010                          100.0
pickup_boroct2010                  1000201.0
pickup_puma                           3701.0
dropoff_nyct2010_gid                     1.0
dropoff_ctlabel                          1.0
dropoff_borocode                         1.0
dropoff_ct2010                         100.0
dropoff_boroct2010                 1000201.0
dropoff_puma                          3701.0
dtype: object
minimum shape =  (41,)
maximum  =
 trip_id                             20107068
vendor_id                                  2
pickup_datetime          2015-02-28 23:59:59
dropoff_datetime         2015-03-01 23:51:54
store_and_fwd_flag                         Y
rate_code_id                              99
pickup_longitude                   73.937637
pickup_latitude                    42.918247
dropoff_longitude                  -0.008332
dropoff_latitude                   44.489014
passenger_count                            9
trip_distance                          830.4
fare_amount                          9999.99
extra                                 679.53
mta_tax                                 7.35
tip_amount                           1766.05
tolls_amount                         1600.08
ehail_fee                                NaN
improvement_surcharge                    0.3
total_amount                       989970.39
payment_type                               5
trip_type                                2.0
cab_type                               green
precipitation                           4.97
snow_depth                                18
snowfall                                11.0
max_temperature                           96
min_temperature                           77
average_wind_speed                     14.54
pickup_nyct2010_gid                   2167.0
pickup_ctlabel                        1621.0
pickup_borocode                          5.0
pickup_ct2010                       162100.0
pickup_boroct2010                  5032300.0
pickup_puma                           4114.0
dropoff_nyct2010_gid                  2167.0
dropoff_ctlabel                       1621.0
dropoff_borocode                         5.0
dropoff_ct2010                      162100.0
dropoff_boroct2010                 5032300.0
dropoff_puma                          4114.0
dtype: object
maximum shape =  (41,)
result  =
                                 types                  min  \
trip_id                         int64                    1
vendor_id                       int64                    1
pickup_datetime        datetime64[ns]  2013-08-01 08:14:37
dropoff_datetime       datetime64[ns]  2013-08-01 09:09:06
store_and_fwd_flag             object                    N
rate_code_id                    int64                    1
pickup_longitude              float64          -121.926697
pickup_latitude               float64           -40.758274
dropoff_longitude             float64          -121.927681
dropoff_latitude              float64            25.685083
passenger_count                 int64                    0
trip_distance                 float64                  0.0
fare_amount                   float64               -499.0
extra                         float64                 -1.0
mta_tax                       float64                 -1.5
tip_amount                    float64               -100.0
tolls_amount                  float64               -18.16
ehail_fee                     float64                  NaN
improvement_surcharge         float64                  0.0
total_amount                  float64               -499.0
payment_type                    int64                    1
trip_type                     float64                  1.0
pickup                         object                  NaN
dropoff                        object                  NaN
cab_type                       object                green
precipitation                 float64                  0.0
snow_depth                      int64                    0
snowfall                      float64                  0.0
max_temperature                 int64                   17
min_temperature                 int64                    2
average_wind_speed            float64                 0.67
pickup_nyct2010_gid           float64                  1.0
pickup_ctlabel                float64                  1.0
pickup_borocode               float64                  1.0
pickup_boroname                object                  NaN
pickup_ct2010                 float64                100.0
pickup_boroct2010             float64            1000201.0
pickup_cdeligibil              object                  NaN
pickup_ntacode                 object                  NaN
pickup_ntaname                 object                  NaN
pickup_puma                   float64               3701.0
dropoff_nyct2010_gid          float64                  1.0
dropoff_ctlabel               float64                  1.0
dropoff_borocode              float64                  1.0
dropoff_boroname               object                  NaN
dropoff_ct2010                float64                100.0
dropoff_boroct2010            float64            1000201.0
dropoff_cdeligibil             object                  NaN
dropoff_ntacode                object                  NaN
dropoff_ntaname                object                  NaN
dropoff_puma                  float64               3701.0

                                       max
trip_id                           20107068
vendor_id                                2
pickup_datetime        2015-02-28 23:59:59
dropoff_datetime       2015-03-01 23:51:54
store_and_fwd_flag                       Y
rate_code_id                            99
pickup_longitude                 73.937637
pickup_latitude                  42.918247
dropoff_longitude                -0.008332
dropoff_latitude                 44.489014
passenger_count                          9
trip_distance                        830.4
fare_amount                        9999.99
extra                               679.53
mta_tax                               7.35
tip_amount                         1766.05
tolls_amount                       1600.08
ehail_fee                              NaN
improvement_surcharge                  0.3
total_amount                     989970.39
payment_type                             5
trip_type                              2.0
pickup                                 NaN
dropoff                                NaN
cab_type                             green
precipitation                         4.97
snow_depth                              18
snowfall                              11.0
max_temperature                         96
min_temperature                         77
average_wind_speed                   14.54
pickup_nyct2010_gid                 2167.0
pickup_ctlabel                      1621.0
pickup_borocode                        5.0
pickup_boroname                        NaN
pickup_ct2010                     162100.0
pickup_boroct2010                5032300.0
pickup_cdeligibil                      NaN
pickup_ntacode                         NaN
pickup_ntaname                         NaN
pickup_puma                         4114.0
dropoff_nyct2010_gid                2167.0
dropoff_ctlabel                     1621.0
dropoff_borocode                       5.0
dropoff_boroname                       NaN
dropoff_ct2010                    162100.0
dropoff_boroct2010               5032300.0
dropoff_cdeligibil                     NaN
dropoff_ntacode                        NaN
dropoff_ntaname                        NaN
dropoff_puma                        4114.0
result shape =  (51, 3)
"trip_id": ("int64", 1, 20107068),
"vendor_id": ("int64", 1, 2),
"pickup_datetime": ("datetime64[ns]", 2013-08-01 08:14:37, 2015-02-28 23:59:59),
"dropoff_datetime": ("datetime64[ns]", 2013-08-01 09:09:06, 2015-03-01 23:51:54),
"store_and_fwd_flag": ("object", N, Y),
"rate_code_id": ("int64", 1, 99),
"pickup_longitude": ("float64", -121.92669677734376, 73.93763732910156),
"pickup_latitude": ("float64", -40.75827407836913, 42.91824722290039),
"dropoff_longitude": ("float64", -121.92768096923828, -0.0083320001140236),
"dropoff_latitude": ("float64", 25.685083389282227, 44.489013671875),
"passenger_count": ("int64", 0, 9),
"trip_distance": ("float64", 0.0, 830.4),
"fare_amount": ("float64", -499.0, 9999.99),
"extra": ("float64", -1.0, 679.53),
"mta_tax": ("float64", -1.5, 7.35),
"tip_amount": ("float64", -100.0, 1766.05),
"tolls_amount": ("float64", -18.16, 1600.08),
"ehail_fee": ("float64", nan, nan),
"improvement_surcharge": ("float64", 0.0, 0.3),
"total_amount": ("float64", -499.0, 989970.39),
"payment_type": ("int64", 1, 5),
"trip_type": ("float64", 1.0, 2.0),
"pickup": ("object", nan, nan),
"dropoff": ("object", nan, nan),
"cab_type": ("object", green, green),
"precipitation": ("float64", 0.0, 4.97),
"snow_depth": ("int64", 0, 18),
"snowfall": ("float64", 0.0, 11.0),
"max_temperature": ("int64", 17, 96),
"min_temperature": ("int64", 2, 77),
"average_wind_speed": ("float64", 0.67, 14.54),
"pickup_nyct2010_gid": ("float64", 1.0, 2167.0),
"pickup_ctlabel": ("float64", 1.0, 1621.0),
"pickup_borocode": ("float64", 1.0, 5.0),
"pickup_boroname": ("object", nan, nan),
"pickup_ct2010": ("float64", 100.0, 162100.0),
"pickup_boroct2010": ("float64", 1000201.0, 5032300.0),
"pickup_cdeligibil": ("object", nan, nan),
"pickup_ntacode": ("object", nan, nan),
"pickup_ntaname": ("object", nan, nan),
"pickup_puma": ("float64", 3701.0, 4114.0),
"dropoff_nyct2010_gid": ("float64", 1.0, 2167.0),
"dropoff_ctlabel": ("float64", 1.0, 1621.0),
"dropoff_borocode": ("float64", 1.0, 5.0),
"dropoff_boroname": ("object", nan, nan),
"dropoff_ct2010": ("float64", 100.0, 162100.0),
"dropoff_boroct2010": ("float64", 1000201.0, 5032300.0),
"dropoff_cdeligibil": ("object", nan, nan),
"dropoff_ntacode": ("object", nan, nan),
"dropoff_ntaname": ("object", nan, nan),
"dropoff_puma": ("float64", 3701.0, 4114.0),

/tmp/ipykernel_393396/3900437806.py:10: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  ma = df.max()

In [18]:
object_df = df.loc[:, df.dtypes == "object"]
object_df

,store_and_fwd_flag,pickup,dropoff,cab_type,pickup_boroname,pickup_cdeligibil,pickup_ntacode,pickup_ntaname,dropoff_boroname,dropoff_cdeligibil,dropoff_ntacode,dropoff_ntaname
0,N,NaN,NaN,green,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N,NaN,NaN,green,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,N,NaN,NaN,green,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,N,NaN,NaN,green,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,N,NaN,NaN,green,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
19999995,N,0101000020E6100000000000E09E7E52C0000000E0D354...,0101000020E610000000000000D67E52C000000020D155...,green,Brooklyn,I,BK37,Park Slope-Gowanus,Brooklyn,I,BK37,Park Slope-Gowanus
19999996,N,0101000020E610000000000060997E52C000000080E154...,0101000020E6100000000000E0918052C000000020EE59...,green,Brooklyn,I,BK37,Park Slope-Gowanus,Manhattan,I,MN25,Battery Park City-Lower Manhattan
19999997,N,0101000020E610000000000020CD7E52C000000080E554...,0101000020E610000000000080168052C0000000C00358...,green,Brooklyn,I,BK37,Park Slope-Gowanus,Brooklyn,I,BK33,Carroll Gardens-Columbia Street-Red Hook
19999998,N,0101000020E610000000000020DA7E52C0000000C0C454...,0101000020E6100000000000E0557E52C0000000400756...,green,Brooklyn,I,BK37,Park Slope-Gowanus,Brooklyn,I,BK37,Park Slope-Gowanus
19999999,N,0101000020E610000000000020DA7E52C000000020C754...,0101000020E610000000000080E87B52C0000000600F58...,green,Brooklyn,I,BK37,Park Slope-Gowanus,Brooklyn,E,BK35,Stuyvesant Heights

In [15]:
def make_freq_column(df, col):
    values = df[col].value_counts(dropna=False)
    length = np.float64(len(df))
    values = values / length
    return values

In [19]:
for col in object_df.columns:
    fr = make_freq_column(object_df, col)
    fr.to_csv(col + ".csv")

In [13]:
object_df["pickup_ntacode"].unique()

array([nan, 'QN68', 'QN72', 'BX01', 'MN36', 'BX29', 'BX27', 'BX17',
       'QN99', 'BX41', 'BX43', 'BX06', 'MN01', 'BX34', 'MN17', 'MN23',
       'MN09', 'NJ01', 'MN04', 'QN31', 'MN35', 'MN33', 'BX63', 'QN70',
       'BK38', 'BK73', 'BK90', 'BK76', 'QN63', 'MN06', 'QN35', 'QN05',
       'BX28', 'BX36', 'MN11', 'MN34', 'BX05', 'QN28', 'BX99', 'QN71',
       'BX14', 'BX30', 'BX37', 'BX39', 'QN60', 'QN54', 'BX46', 'BX55',
       'MN12', 'MN40', 'QN29', 'MN99', 'MN24', 'MN22', 'MN20', 'MN27',
       'BX75', 'QN17', 'BX08', 'QN18', 'MN03', 'QN55', 'QN61', 'BK37',
       'BK68', 'BK09', 'BK33', 'BX26', 'BK64', 'QN53', 'QN98', 'QN50',
       'QN27', 'QN30', 'BX62', 'BX40', 'QN22', 'QN26', 'SI22', 'BK40',
       'BK78', 'BK61', 'SI07', 'SI28', 'SI12', 'BK79', 'BK75', 'BX31',
       'BX59', 'QN62', 'BX09', 'QN25', 'BX49', 'SI37', 'QN38', 'MN15',
       'BK21', 'BX35', 'QN76', 'BK43', 'BK32', 'BK77', 'QN34', 'QN37',
       'QN46', 'BK17', 'BK41', 'MN31', 'BK69', 'QN20', 'QN21', 'QN23',
       'BX10', 'BX13', 'BK99', 'BX52', 'BK91', 'QN44', 'BK42', 'QN41',
       'BX44', 'BK60', 'QN06', 'QN01', 'BK63', 'BX33', 'QN42', 'SI14',
       'BK72', 'BK31', 'BK35', 'BK95', 'SI45', 'QN56', 'BX03', 'QN02',
       'BK34', 'MN14', 'MN28', 'BX07', 'QN57', 'BX22', 'BK23', 'QN45',
       'QN03', 'MN13', 'MN32', 'BK29', 'QN51', 'BK83', 'MN19', 'BK19',
       'MN25', 'BK27', 'QN43', 'QN19', 'BK88', 'BK28', 'QN08', 'QN52',
       'BK82', 'BK45', 'BK81', 'BK50', 'BK85', 'BK30', 'QN49', 'BK25',
       'SI05', 'SI24', 'BK58', 'QN47', 'BK44', 'QN07', 'QN48', 'BK46',
       'BK96', 'BK26', 'QN33', 'QN15', 'QN10', 'SI35', 'MN50', 'QN66',
       'SI36', 'SI25', 'MN21', 'BK93', 'QN12', 'SI08', 'SI54', 'SI32',
       'SI11', 'SI01', 'SI48', 'SI99'], dtype=object)