In [5]:
import pandas
import numpy as np

frame_data = {
    "a": [np.nan, 1, 2, np.nan, np.nan],
    "b": [1, 2, 3, np.nan, np.nan],
    "c": [np.nan, 1, 2, 3, 4],
}
df = pandas.DataFrame(frame_data, index=list("VWXYZ"))

# df2 may have different index and columns
df2 = pandas.DataFrame(
    {
        "a": [np.nan, 10, 20, 30, 40],
        "b": [50, 60, 70, 80, 90],
        "foo": ["bar"] * 5,
    },
    index=list("VWXuZ"),
).sample(frac=1)

In [6]:
df

     a    b    c
V  NaN  1.0  NaN
W  1.0  2.0  1.0
X  2.0  3.0  2.0
Y  NaN  NaN  3.0
Z  NaN  NaN  4.0

In [7]:
df2

      a   b  foo
X  20.0  70  bar
W  10.0  60  bar
Z  40.0  90  bar
V   NaN  50  bar
u  30.0  80  bar

In [10]:
df.fillna(df2)

      a     b    c
V   NaN   1.0  NaN
W   1.0   2.0  1.0
X   2.0   3.0  2.0
Y   NaN   NaN  3.0
Z  40.0  90.0  4.0

In [11]:
df.fillna(df2, axis=1)

      a     b    c
V   NaN   1.0  NaN
W   1.0   2.0  1.0
X   2.0   3.0  2.0
Y   NaN   NaN  3.0
Z  40.0  90.0  4.0

TypeError: int() argument must be a string, a bytes-like object or a number, not 'NoneType'