In [13]:
import pandas
import numpy as np

frame_data = {
    "a": [np.nan, 1, 2, np.nan, np.nan],
    "b": [1, 2, 3, np.nan, np.nan],
    "c": [np.nan, 1, 2, 3, 4],
}
df = pandas.DataFrame(frame_data, index=list("VWXYZ"))

s = pandas.Series([np.nan, 10, np.nan, 30, np.nan], index=["a", "c", "x", "y", "z"])

In [2]:
df

     a    b    c
V  NaN  1.0  NaN
W  1.0  2.0  1.0
X  2.0  3.0  2.0
Y  NaN  NaN  3.0
Z  NaN  NaN  4.0

In [14]:
s

a     NaN
c    10.0
x     NaN
y    30.0
z     NaN
dtype: float64

In [15]:
df.fillna(s)

     a    b     c
V  NaN  1.0  10.0
W  1.0  2.0   1.0
X  2.0  3.0   2.0
Y  NaN  NaN   3.0
Z  NaN  NaN   4.0

In [16]:
df.fillna(s, axis=0)

     a    b     c
V  NaN  1.0  10.0
W  1.0  2.0   1.0
X  2.0  3.0   2.0
Y  NaN  NaN   3.0
Z  NaN  NaN   4.0

In [28]:
s.fillna({"a": 18, "uuu": 5})

a    18.0
c    10.0
x     NaN
y    30.0
z     NaN
dtype: float64

In [23]:
s2 = pandas.Series([11, 3, 12], index=["b", "x", "a"])
s.fillna(s2, limit=None)

a    12.0
c    10.0
x     3.0
y    30.0
z     NaN
dtype: float64

In [24]:
s.sample(frac=1)

a     NaN
x     NaN
y    30.0
c    10.0
z     NaN
dtype: float64

In [27]:
s.index.to_series()[-2:].reindex(s.index)

a    NaN
c    NaN
x    NaN
y      y
z      z
dtype: object