In [1]:
import pandas
import numpy as np

frame_data = {
    "a": [np.nan, 1, 2, np.nan, np.nan],
    "b": [1, 2, 3, np.nan, np.nan],
    "c": [np.nan, 1, 2, 3, 4],
}
df = pandas.DataFrame(frame_data, index=list("VWXYZ"))

s = pandas.Series([np.nan, 10, 20, 30, 40], index=["a", "c", "x", "y", "z"])

In [2]:
df

     a    b    c
V  NaN  1.0  NaN
W  1.0  2.0  1.0
X  2.0  3.0  2.0
Y  NaN  NaN  3.0
Z  NaN  NaN  4.0

In [3]:
s

a     NaN
c    10.0
x    20.0
y    30.0
z    40.0
dtype: float64

In [4]:
df.fillna(s)

     a    b     c
V  NaN  1.0  10.0
W  1.0  2.0   1.0
X  2.0  3.0   2.0
Y  NaN  NaN   3.0
Z  NaN  NaN   4.0

In [5]:
df.fillna(s, axis=0)

     a    b     c
V  NaN  1.0  10.0
W  1.0  2.0   1.0
X  2.0  3.0   2.0
Y  NaN  NaN   3.0
Z  NaN  NaN   4.0

In [6]:
s2 = pandas.Series([11, 12], index=["b", "a"])
s.fillna(s2)

a    12.0
c    10.0
x    20.0
y    30.0
z    40.0
dtype: float64

In [8]:
s.fillna(df)

TypeError: "value" parameter must be a scalar, dict or Series, but you passed a "DataFrame"